
.container
{

}

.content{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 65%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 -1px 24px rgba(0,0,0,0.4);
  animation-duration: 200ms;
  border-top: 5px solid #2FA9FF;
}

.backShadow
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.34);
  animation-duration: 300ms;
}

.logo{
  width: 45px;
  float: right;
  display: none;
}

.title{
  float: left;
  font-size: 16px;
  margin-right: 0px;
  line-height: 30px;
  color: #10979C;
}


.scrollFix > div
{
  margin-right: 0px !important;
  margin-left: -15px;
}


.footer
{
  height: 100px;
}





/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .content
  {
    width: 340px;

  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}






@media print{
  .container
  {
    display: none;
  }

}
